<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Kontakt os</title>
</head>
<nav>
    <input id="nav-toggle" type="checkbox">
    <a class="logo" href="/"><strong>HJEM</strong> </a>
    <ul class="links">
        <li><a href="/">Forside</a></li>
        <li><a href="/webshop">Webshop</a></li>
        <li><a href="/about">Om os</a></li>
        <li><a href="/contact">Kontakt</a></li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
<body>

<div class="container">
    <div class="contactContent">
        <div class="col-sm">
            <input type="text" id="name" name="name" placeholder="Indtast navn.." required>

            <input type="text" id="addr" name="addr" placeholder="Indtast adresse.." required>

            <input type="text" id="tlfnr" name="tlfnr" placeholder="Indtast telefonnummer.." required>

            <input type="email" id="email" name="email" placeholder="Indtast email.." required>

            <input type="text" id="subject" name="subject" placeholder="Hvad handler det om?" required>

            <textarea id="text" name="text" placeholder="Spørg os om noget" style="height:225px"></textarea>
            <button value="Send" onclick="sendMail()">send</button>
        </div>
    </div>
</div>

</body>
<script src="js/contact.js"></script>
</html>