<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Kontakt os</title>
</head>
<nav>
    <input id="nav-toggle" type="checkbox">
    <a class="logo" href="/"><strong>HJEM</strong> </a>
    <ul class="links">
        <li><a href="/">Forside</a></li>
        <li><a href="/webshop">Webshop</a></li>
        <li><a href="/about">Om os</a></li>
        <li><a href="/contact">Kontakt</a></li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
<body>

<div class="contact-content">
    <div class="contactForm" id="contactForm">
        <form action="#">
            <div class="textOnInput">
                <label>Navn</label>
                <input class="form-control" type="text" id="name" required="required"/>
            </div>

            <div class="textOnInput">
                <label>Tlf nr</label>
                <input class="form-control" type="text" id="tlfnr" name="tlfnr" required>
            </div>

            <div class="textOnInput">
                <label>Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
            </div>

            <div class="textOnInput">
                <label>Emne</label>
                <input class="form-control" type="text" id="subject" name="subject" required>
            </div>

            <div class="textOnInput">
                <label>Besked</label>
                <textarea class="form-control" id="text" name="text" style="height:225px"></textarea>
            </div>
            <button class="btn btn-primary createAccount" id="createEmpBtn" value="Send">Send
            </button>
        </form>
    </div>
</div>

</body>
<script src="js/contact.js"></script>
</html>