<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>HJEM</title>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <a class="logo" href="/"><strong>HJEM</strong> </a>
        <ul class="links">
            <li><a href="/">Forside</a></li>
            <li><a href="/about">Om os</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
</head>

<div class="gif-container">
    <img src="https://media.giphy.com/media/38pSHbb9AYyVen1ZUt/giphy.gif" alt="">
</div>

<div class="container">
    <div class="featured-item"></div>
    <div class="featured-item"></div>
    <div class="featured-item"></div>
    <div class="featured-item"></div>
</div>


</body>
<script src="js/index.js"></script>
</html>